<img src="http://distilleryimage9.ak.instagram.com/d1c1aef87b3211e39b7f0ea9c0c56c71_8.jpg"/ title="Faire and her cousin">
<h1>Some facts about Faireness</h1>

<ol>
  <li>I'm 6 years old</li>
  <li>I like math. 5x5 is 25.</li>
  <li>I like drawing Sierpinski's triangle</li>
</ol>


<h1>Some facts about Fairness</h1>
<ol>
  <li>You have to be kind.</li>
  <li>You have to let other people get their way sometimes.</li>
  <li>You have to take turns.</li>
</ol>
